.nav_mobile {
  background: linear-gradient(
    180deg,
    rgba(226, 232, 240, 1) 42%,
    rgba(226, 232, 240, 1) 85%
  );
  position: relative;
  height: calc(100dvh - var(--header-height));
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: var(--header-height);
  right: -100vw;
  overflow-y: auto;
  transition: transform 0.5s ease-in-out;
  backdrop-filter: blur(10px);
  &.active {
    transform: translateX(-100vw);
  }
}
